body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: red;
    text-align: center;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.header h1 {
    margin: 0;
    padding: 10px;
}

.stroboscope {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

.stroboscope img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.stroboscope img:hover {
    transform: scale(1.05);
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    background-color: white;
    padding: 20px;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    width: 300px;
}

.popup .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.add-user-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
 
}

#addUserForm {
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
}

#addUserForm h3 {
    margin-top: 0;
}

#userForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#userForm input[type="text"],
#userForm input[type="number"],
#userForm input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#userForm button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#userForm button:hover {
    background-color: #0056b3;
}

#userPopup img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.user-container img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-name {
    margin-top: 5px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#adminLoginBtn {
    background-color: #28a745; /* Vert */
}

#addUserBtn {
    background-color: #17a2b8; /* Bleu-vert */
}

#logoutBtn {
    background-color: #dc3545; /* Rouge */
}

form button {
    background-color: #6c757d; /* Gris */
    width: 100%; /* Pleine largeur dans les formulaires */
}

.adminLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

.delete-icon {
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: 20px;
}

